@import url("https://use.typekit.net/dla5wfy.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "lust", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "nimbus-sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
