.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
  padding: 24vh 100px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
  letter-spacing: 0.125rem;
  margin-top: 5vh;
}

.about {
  position: relative;
}

.about h2 span {
  color: white;
}

.photo {
  position: absolute;
  right: 100px;
  top: 12vh;
  z-index: -2;
}

.bio {
  background-color: var(--color-bege);
  color: white;
  width: 60%;
  margin-top: 10vh;
  padding: 40px;
  font-weight: 600;
}

.bio p + p {
  margin-top: 18px;
}

.works {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  gap: 10px;
}

.projectCard {
  display: flex;
  position: relative;
  overflow: hidden;
}

.projectCard:hover .coverup {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.2s ease-in-out, transform 0.6s ease-in-out;
}

.coverup {
  height: 100%;
  width: 100%;
  background-color: var(--color-bege);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contacts {
  padding-top: 36vh;
}

.contacts a {
  transition: color 0.5s ease-in-out;
  color: grey;
}

.contacts a:hover {
  color: var(--color-bege);
}

@media (max-width: 700px) {
  .title {
    font-size: 4rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 60px;
    justify-content: center;
    height: auto;
  }
  .works {
    flex-direction: column;
  }

  .works img {
    max-width: 100%;
    height: auto;
  }

  .bio {
    font-size: 14px;
    width: auto;
    padding: 20px;
  }
  .photo img {
    max-width: 100%;
    height: auto;
    top: 0;
    right: 75px;
  }
  .coverup {
    display: none;
  }
}

@media (max-width: 800px) {
  .works {
    flex-direction: column;
    align-items: center;
  }
  .works img {
    max-width: 100%;
    height: auto;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 100px;
    justify-content: center;
    height: auto;
  }
}
